<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1><%= __("ots_h1") %></h1>
        <form action="/secret" method="POST">
          <div class="form-group">
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="<%= __('ots_message') %>"
                rows="5"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-success" type="submit" name="signin">
                <%= __("submit") %>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
