<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <div id="secretCreation">
          <h1><%= __("otl_h1") %></h1>
          <form onsubmit="return false">
            <div class="form-group">
              <div class="input-group mb-3">
                <textarea
                  class="form-control"
                  name="message"
                  id="message"
                  placeholder="<%= __('otl_message') %>"
                  rows="5"
                ></textarea>
              </div>
              <div class="input-group mb-3">
                <button
                  class="btn btn-success"
                  onclick="createSecret(document.getElementById('message').value)"
                >
                  <%= __("submit") %>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div id="secretCreatedBlock" hidden>
          <h1><%= __("otl_secret_created") %></h1>
          <div class="form-group">
            <label class="form-label" for="linkToShare"
              ><%= __("otl_link_to_share") %></label
            >
            <div class="input-group mb-3">
              <input
                class="form-control"
                type="text"
                id="linkToShare"
                name="linkToShare"
              />
            </div>
            <button class="btn btn-success" onclick="copyText()">
              Copy Text
            </button>
            <div id="copied" name="copied" hidden>
              <small class="form-text text-muted"
                >Link copied to clipboard</small
              >
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script>
    function createSecret(message) {
      var xhr = new XMLHttpRequest();
      xhr.onerror = (err) => {
        console.log(err);
      };
      xhr.onload = (event) => {
        console.log(xhr.response);
        let res = JSON.parse(xhr.response);
        console.log(res);
        let lts = document.getElementById("linkToShare");
        console.log(lts.value);
        lts.value = res.linkToShare;
        console.log(lts.value);
        document.getElementById("secretCreatedBlock").hidden = false;
      };
      xhr.open("POST", "/secret");
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(
        `{ "message": "${message.replace(/\\/g, "\\\\").replace(/"/g, '\\"')}"}`
      );
    }
    function copyText() {
      /* Get the text field */
      var copyText = document.getElementById("linkToShare");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
      document.getElementById("copied").hidden = false;
      setTimeout(() => {
        document.getElementById("copied").hidden = true;
      }, 3000);
    }
  </script>
</html>
