<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1><%= __("kp_h1") %></h1>
        <p><%= __("kp_subtitle") %></p>
        <form id="form" onsubmit="return false">
          <div class="">
            <div class="form-group">
              <label for="project_name"><%= __("kp_project_name") %></label>
              <input class="form-control" type="text" id="projectName" />
            </div>
            <div class="form-group">
              <label for="password"><%= __("kp_password") %></label>
              <div class="input-group mb-3">
                <input class="form-control" type="text" id="password" />
                <button class="btn btn-success" onclick="generatePassword()">
                  <%= __("kp_generate_password") %>
                </button>
              </div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="csv"
                id="csv"
                placeholder="<%= __('kp_textarea_placeholder') %>"
                rows="12"
              ></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success" onclick="createVault()">
                <%= __("submit") %>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script type="text/javascript">
    function createVault() {
      const projectName = btoa(
        escape(document.getElementById("projectName").value)
      );
      const password = btoa(escape(document.getElementById("password").value));
      const csv = btoa(escape(document.getElementById("csv").value));
      const data = `{ "csv":"${csv}","password":"${password}","projectName":"${projectName}"}`;

      var xhr = new XMLHttpRequest();
      xhr.responseType = "arraybuffer";
      xhr.onerror = (err) => {
        console.log(err);
      };
      xhr.onload = (event) => {
        const blob = new Blob([xhr.response]);
        const url = window.URL.createObjectURL(blob, {
          type: "application/octetstream",
        });
        const a = document.createElement("a");
        const filename = "vault.kdbx";
        a.style = "none";
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      };
      xhr.open("POST", "/vault");
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(data);
    }

    function generatePassword() {
      $.ajax({
        method: "GET",
        contentType: "application/json",
        url: "/vault/password",
        success: (res) => {
          document.getElementById("password").value = res;
        },
        error: (xmlHttpRequest, textStatus, errorThrown) => {
          console.log("Error while generating password vault");
          console.log(errorThrown);
        },
      });
    }
  </script>
</html>
