<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1><%= __("dashboard") %></h1>
      </div>
      <div>
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th><%= __("counter") %></th>
              <th><%= __("value") %></th>
              <th><%= __("creation_at") %></th>
              <th><%= __("updated_at") %></th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < counters.length; i++) { %>
            <tr>
              <td><%= counters[i].counterName %></td>
              <td><%= counters[i].counter %></td>
              <td>
                <%= new Date(Date.parse(counters[i].createdAt))
                .toISOString().replace('T', ' ').replace('.000Z', '') %>
              </td>
              <td>
                <%= new Date(Date.parse(counters[i].updatedAt))
                .toISOString().replace('T', ' ').replace('.000Z', '') %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
