<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript">
      function getAndDeleteSecret(id, password) {
        fetch("..", {
          method: "DELETE",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: id,
            password: password,
          }),
        }).then((response) => {
          let contentType = response.headers.get("content-type");
          if (contentType && contentType.indexOf("application/json") !== -1) {
            return response.json().then(function (secret) {
              console.log(secret);
              document.getElementById("message").value = secret.message;
              document.getElementById("message-div").hidden = false;
              document.getElementById("btn").hidden = true;
            });
          } else {
            console.log("Oops, nous n'avons pas du JSON!");
          }
          console.log(response.json());
        });
      }
    </script>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Secret</h1>
        <div class="form-group">
          <div>
            <button
              class="btn btn-primary"
              id="btn"
              name="btn"
              onclick="getAndDeleteSecret('<%= id %>', '<%= password %>')"
            >
              Get and delete secret
            </button>
          </div>
          <div class="form-group" id="message-div" name="message-div" hidden>
            <label for="message" class="form-label">Message</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="message"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
