<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript">
      function getCurrentUrl() {
        document.getElementById("linkToShare").value = location.href + '/' + <%- JSON.stringify(id) %> + "/" + <%- JSON.stringify(password) %>;
      }
      function copyText() {
        /* Get the text field */
        var copyText = document.getElementById("linkToShare");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

         /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
        document.getElementById('copied').hidden = false;
        setTimeout(() => {
          document.getElementById('copied').hidden = true;
        }, 3000);
      }
    </script>
  </head>
  <body class="container" onload="getCurrentUrl()">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Secret created!</h1>
        <div class="form-group">
          <label class="form-label" for="linkToShare"
            >Link to share your secret only one time :</label
          >
          <div class="input-group mb-3">
            <input
              class="form-control"
              type="text"
              id="linkToShare"
              name="linkToShare"
            />
          </div>
          <button class="btn btn-primary" onclick="copyText()">
            Copy Text
          </button>
          <div id="copied" name="copied" hidden>
            <small class="form-text text-muted">Link copied to clipboard</small>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
